@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
    background-color: #f2c49b;
    font-family: "Lato", sans-serif;
}
nav {
    background-color: #d962a3;
}
label,
option,
select,
button,
table,
td,
tr,
th {
    font-family: "Lato", sans-serif;
}
